<h1> Hello from cities/update </h1>
<% if @name.nil? %>
  <%= form_with local: true, method: "post" do |f| %>
  City: <%= f.text_field :city %>
  Population: <%= f.text_field :population %>
  Most Famous Landmark: <%= f.text_field :landmark %>
  <%= f.submit %>
  <% end %>
<% end %>
